*{
  font-family: 'Roboto', sans-serif;
}

/* Nav bar */
.navbar{
  background-color: #b0c4de;
}

.navLink{
  transform: scale(0.8);
  transition: 0.1s;
  text-decoration: none;
  font-weight: bold;
  color: black;
  cursor: pointer;
  font-size: larger;
}

.navLink,.hamNavLink:hover{
  transform: scale(0.9);
  color: black;
  opacity: 0.5;
}

.hamNavLink{
  transform: scale(0.8);
  transition: 0.1s;
  text-decoration: none;
  font-weight: bold;
  color: black;
  cursor: pointer;
  font-size: larger;
}

.navLink,.hamNavLink:hover{
  transform: scale(0.9);
  color: black;
  opacity: 0.5;
}

.hamIcon{
  display: none;
  cursor: pointer;
}

.responsive-menu{
  transform: translateX(-5000px);
  transition: 0.3s;
  z-index: 10;
}

.responsive-menuBack{
  transform: translateX(0px);
  transition: 0.3s;
  z-index: 10;
}

/* search input */

.input{
  padding: 5px;
  width: 40%;
}

.button{
  padding: 5px;
  border-color:  #b0c4de;
  background-color:  #b0c4de;
  color: white;
}


/* card */

.translate{
  transform: translateX(1500px);
  transition: 1s;
}

.translateBack{
  transform: translateX(0);
  transition: 1s;
}

.weatherText{
  font-size: 30px;
}

.weatherIcon{
  height:100px;
}

.celAndFah{
  font-size : 40px;
  padding-top:30px;
  padding-left: 30px;
  padding-right: 30px;
}

.cityAndCountry{
  font-size: 20px;
}

/* five days forecast cards */

.boxShadow{
  transform: scale(0.8);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  transition: 0.3s;
}

.boxShadow:hover{
  transform: scale(0.9)
}

.added::before{
  content: "added";
  position: absolute;
  left: 40%;
  padding: 3px;
  color: white;
  border-radius: 5px;
  opacity: 0;
  background-color: black;
}

.animation::before{
  display: flex;
  content: "added";
  padding: 3px;
  color: white;
  background-color: black;
  position: absolute;
  left: 40%;
  border-radius: 5px;
  color: white;
  transition: 0.8s;
  transform: translateX(-120px);
}

.opacity::before{
  display: flex;
  content: "added";
  padding: 3px;
  color: white;
  background-color: black;
  position: absolute;
  left: 40%;
  border-radius: 5px;
  color: white;
  opacity: 0;
  transition: 1s;
  transform: translateX(-120px);
}


/* media query */
 
@media all and (min-width: 768px) and (max-width: 1024px) { 
  .weatherText{
    font-size: 25px;
  }
 
  .celAndFah{
    font-size : 30px;
  }

  .cityAndCountry{
    font-size: 15px;
  }
}
 
@media all and (min-width: 480px) and (max-width: 768px) { 

  .info{
    flex-direction: column;
}

.weather{
  margin-right: 30px;
}

  .celAndFah{
    padding: 10px;
  }

  .hamIcon{
    display: block;
  }

  .navLink{
    display: none;
  }
}

@media all and (min-width: 480px) and (max-width: 610px) { 
.info{
    flex-direction: column;
  }
  .weather{
    margin-right: 30px;
  }

  .celAndFah{
    padding: 10px;
  }

  .hamIcon{
    display: block;
  }

  .navLink{
    display: none;
  }
}
 
@media all and (max-width: 480px) {
  .info{
    flex-direction: column;
  }

  .weather{
    margin-right: 20px;
  }

  .celAndFah{
    padding: 10px;
  }

  .weatherText{
    font-size: 15px;
  }

  .weatherIcon{
    height:80px;
  }
 
  .celAndFah{
    font-size : 20px;
  }

  .cityAndCountry{
    font-size: 12px;
  }
    
  .hamIcon{
    display: block;
  }

  .navLink{
    display: none;
  }
 }
